/dotfiles/**/.*history
/dotfiles/.cache
/dotfiles/.config/borg
/dotfiles/.config/dconf
/dotfiles/.config/discord
/dotfiles/.config/pulse
/dotfiles/.config/transmission
/dotfiles/.config/xfce4
/dotfiles/.gnupg
/dotfiles/.ipfs
/dotfiles/.local/share
/dotfiles/.minecraft
/dotfiles/.mozilla
/dotfiles/.ssh/id_*
/dotfiles/.ssh/known_hosts*
/dotfiles/.vim
/hardware.nix

!/dotfiles/.config/transmission/settings.json
!/dotfiles/.ssh/id_*.pub
